header {
    background: #222;
    color: #fff;
    padding: 15px 0;
    font-size: 24px;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: #1e1e2f;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.3s;
    overflow: hidden;
}


#sidebar.collapsed {
    width: 70px;
}

#sidebar_content {
    flex-grow: 1;
}

#user {
    display: flex;
    align-items: left;
    padding: 20px;
    transition: all 0.3s;
   
}

#user_avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.3s;
}

#sidebar.collapsed #user_avatar {
    width: 40px;
    height: 40px;
}

#user_infos {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    transition: opacity 0.3s;
}

#sidebar.collapsed #user_infos {
    opacity: 0;
}

#side_items {
    list-style: none;
    padding: 0;
    margin-top: -200px;
}

#side_items li {
    width: 100%;
   position: relative;
   height: 60px;
   top: 50;
   gap: 0;
}

#side_items li a {
    display: flex;
    padding: 12px 20px;
    text-decoration: none;
    color: #fff;
    transition: background 0.2s;
}

#side_items li a:hover {
    background-color: #343454;
}

#side_items li a i {
    min-width: 25px; 
    text-align: center;
    font-size: 18px;
}

#sidebar.collapsed .item-description {
    display: none;
}


#open_btn {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 15px 20px;
    text-align: right;
}

#open_btn_icon {
    font-size: 18px;
    transition: transform 0.3s;
}

#logout {
    padding: 20px;
}

#logout_btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #ff4b5c;
    border: none;
    color: #fff;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
}

#logout_btn i {
    min-width: 25px;
    text-align: center;
}

#sidebar.collapsed #logout_btn .item-description {
    display: none;
}

.logo {
  font-size: 3rem;
  font-weight: bold;


  background: linear-gradient(90deg,#ff8a00,#e52e71,#00c6ff);
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  
  animation: text-animation 3s infinite linear,
             spin 5s infinite ease-in-out;
}

/*aqui faz piscar*/
@keyframes text-animation {
  0%   { background-position: 0%; }
  100% { background-position: 200%; }
}
/*aqui faz girar*/
@keyframes spin {
  0%   { transform: rotateY(0deg); }
  40%  { transform: rotateY(360deg); } 
  100% { transform: rotateY(360deg); } 
}


body{
  margin: 90px; 
  background-image: url("fundo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 500px auto; 
  

}
.barra ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.barra ul li a {
    text-decoration: none;
    color: #0e0c0c;
    font-weight: bold;
}

.barra ul li a:hover {
    color: #ff6600;
}

#cor {
  color: #484545;
}

.overlay {
  position: absolute;
  bottom: -50%;
  left: 5;
  width: 100%;
  display: inline-block; 
  background: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: 4px 18px 4px 15px;
  font-size: 14px;
  font-weight: bold;
  transition: bottom 0.4s ease;
  list-style: none;
}

.img-container:hover .overlay {
  bottom: 0;
}

#vermelho{
color: red;
}

#foto1 {
  border-radius: 15px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
  filter: brightness(0.9) contrast(1.2) saturate(1.3);
  transition: transform 0.3s ease, filter 0.3s ease;
  list-style: none;
}

#foto1:hover {
  transform: scale(1.05);
  filter: brightness(1.1) contrast(1.2) saturate(1.3);
  list-style: none;
}

#link1 {
  color: red;
  text-decoration: none;
  position: relative;
  right: -700px;
   transition: color 0.5s ease;
}


#link1:hover{
  color: rgb(255, 110, 110);
}

#cor {
  color: #484545;
}


#video{
  border-radius: 15px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
  filter: brightness(0.9) contrast(1.2) saturate(1.3);
  transition: transform 0.3s ease, filter 0.3s ease;
  margin-top: 20px;
}

#video:hover {
  transform: scale(1.05);
  filter: brightness(1.1) contrast(1.2) saturate(1.3);
}

#link2 {
  color: red;
  text-decoration: none;
  position: relative;
  right: -700px;
   transition: color 0.5s ease;
}


#link2:hover{
  color: rgb(255, 110, 110);
}

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;




}
* {
  font-family: 'inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

footer {
  width: 100%;
  color: var(--color-neutral-40);
}

.footer-link {
  text-decoration: none;
}

#footer_content {
  background-color: var(--color-neutral-10);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
}

#footer_contacts h1 {
  margin-bottom: 0.75rem;
}

#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--color-neutral-40);
  border-radius: 50%;
  transition: all 0.4s;
}

#footer_social_media .footer-link i {
  font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
  opacity: 0.8;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background-color: #4267b3 ;
}

#whatsapp {
background-color: #25d366;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

.footer-list .footer-link {
  color: var(--color-neutral-30);
  transition: all 0.4s;
}

.footer-list .footer-link:hover {
  color: #7f37c9;
}

#footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#footer_subscribe p {
  color: var(--color-neutral-30);
}

#input_group{
  display: flex;
  align-items: center;
  background-color: var(--color-neutral-0);
  border-radius: 4px;
}

#input_group input {
  all: unset;
  padding: 0.75rem;
  width: 100%;
}

#input_group button {
  background-color: #7f37c9;
  border: none;
  color: var(--color-neutral-40);
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}

#input_group button:hover {
  opacity: 0.8;
}

#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: var(--color-neutral-0);
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
}

@media screen and (max-widht: 768px) {
  #footer_content{
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  
}

@media screen and (max-widht: 426px) {
  #footer_content{
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
  
}

footer {
  margin-top: 50px;
}